<div class="loginFormContainer">
    <h1 class="loginTitle">Inicia Sesión</h1>

    <div class="loginFormCard">
      <form action="" id="loginForm">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" placeholder="Ingresar">
      </form>

      <p class="sessionQuestion">¿No estas registardo? <a class="sessionAncor" href="/register">Regístrate</a></p>
    </div>
</div>

<script src="/js/login.js"></script>
  
