<div>

  <h1>Ecommerce</h1>

  <div class="menu">
    <a href="/">Ir al home</a>
    <a href="/realTimeProducts">Ir a productos en tiempo real</a>
  </div>

  <div class="formConteiner">

    <h2>Ingresar Nuevos Productos</h2>

    <form id="formulario" action="">

      <div>
        <input type="text" name="title" id="title" placeholder="Title" required>
      </div>
        
      <div>
        <input type="text" name="description" id="description" placeholder="Description" required>
      </div>
        
      <div>
        <input type="text" name="price" id="price" placeholder="Price" required>
      </div>

      <div>
        <input type="text" name="thumbnail" id="thumbnail" placeholder="Thumbnail">
      </div>

      <div>
        <input type="text" name="code" id="code" placeholder="Code" required>
      </div>

      <div>
        <input type="text" name="stock" id="stock" placeholder="stock" required>
      </div>

      <div>
        <input type="text" name="category" id="category" placeholder="Category" required>
      </div>
      
      <div>
            <label>True</label>
            <input type="radio" name="status" value="true" checked>  
            <label>False</label>
            <input type="radio" name="status" value="false">
        </div>       

      <input class="botonForm" type="submit" value="Crear">
    </form>
  </div>

  <h2>Productos Actuales</h2>

  <div id="mostrarProductos">

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>