<div>

  <div class="menu">
    <h1>Ecommerce</h1>
    <div class="anclas">
      <a href="/">Home</a>
      <a href="/realTimeProducts">Inventario</a>
      <a href="/api/sessions/logout">Logout</a>
    </div>
  </div>

  <div class="formConteiner">

    <h2 class="titleInventario">Ingresar Nuevos Productos</h2>

    <form id="formulario" action="">

      <div>
        <input class="inputStyle" type="text" name="title" id="title" placeholder="Title" required>
      </div>
        
      <div>
        <input class="inputStyle" type="text" name="description" id="description" placeholder="Description" required>
      </div>
        
      <div>
        <input class="inputStyle" type="text" name="price" id="price" placeholder="Price" required>
      </div>

      <div>
        <input class="inputStyle" type="text" name="thumbnail" id="thumbnail" placeholder="Thumbnail">
      </div>

      <div>
        <input class="inputStyle" type="text" name="code" id="code" placeholder="Code" required>
      </div>

      <div>
        <input class="inputStyle" type="text" name="stock" id="stock" placeholder="Stock" required>
      </div>

      <div>
        <input class="inputStyle" type="text" name="category" id="category" placeholder="Category" required>
      </div>
      
      <div class="statusStyle">
        <p>Status:</p>
        <label>True</label>
        <input type="radio" name="status" value="true" checked>  
        <label>False</label>
        <input type="radio" name="status" value="false">
      </div>       

      <input class="botonForm" type="submit" value="Crear">
    </form>
  </div>

  <h3>Productos Actuales</h3>

  <div id="mostrarProductos">

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>