<div class="registerFormContainer">
  <h1 class="registerTitle">Regístrate</h1>

  <div class="registerFormCard">
    <form action="" id="registerForm">
      <input type="text" name="first_name" placeholder="Nombre">
      <input type="text" name="last_name" placeholder="Apellido">
      <input type="number" name="age" placeholder="Edad">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Contraseña">
      <input type="submit" placeholder="Crear Usuario">
    </form>

     <p class="sessionQuestion">¿Ya tienes una cuenta? <a href="/login" class="sessionAncor">Inicia Sesión</a></p>
  </div>
</div>

<script src="/js/register.js"></script>